@charset "utf-8";
html {
    font-size:32px;
}
@media only screen and (min-width: 360px){
    html {
        font-size: 36px !important;
    }
}
@media only screen and (min-width: 375px){
    html {
        font-size: 37.5px !important;
    }
}
@media only screen and (min-width: 384px){
    html {
        font-size: 38.4px !important;
    }
}
@media only screen and (min-width: 412px){
    html {
        font-size: 41.2px !important;
    }
}
@media only screen and (min-width: 414px){
    html {
        font-size: 41.4px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 48.1px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 48.1px !important;
    }
}
@media only screen and (min-width: 540px){
    html {
        font-size: 54px !important;
    }
}
@media only screen and (min-width: 600px){
    html {
        font-size: 60px !important;
    }
    body{
        max-width: 600px;
    }

}
html,body{font-family:helvetica,"Microsoft Yahei",arial,sans-serif;-webkit-text-size-adjust:none;word-break:break-all;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input,figure,section{ margin: 0; padding: 0; border: 0;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body {
    /* background-color:#fa5462; */
    color: #60615E;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    min-width:320px;
    margin:0 auto;
    position:relative;
}
table{border-collapse:collapse;border-spacing:0;}
img{vertical-align: middle;-ms-interpolation-mode: bicubic;}
address,caption,cite,code,dfn,em,i,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
textarea, input{-webkit-appearance:none;font-family:"Microsoft Yahei",helvetica,arial,sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:4px 8px;background: #fff;border-radius:4px;border:1px solid #cfcfcf;box-shadow:inset 0 1px 0 #CDCDCD;outline: 0;font-size:14px;color:#444;display:block;}
input[type="checkbox"]{-webkit-appearance:checkbox;vertical-align: middle;display:inline-block;}
input[type="radio"]{-webkit-appearance:radio;vertical-align: middle;display:inline-block;}
select {-webkit-appearance: none;width: 100%;height: 46px;padding-left: 5px;box-sizing: border-box;font-family:"Microsoft Yahei",helvetica,arial,sans-serif;border-radius:4px;align-items: center;border:1px solid #cfcfcf;border-image-source: initial;border-image-slice: initial;border-image-width: initial;border-image-outset: initial;border-image-repeat: initial;white-space: pre;-webkit-rtl-ordering: logical;background-color:#fff;cursor: default;font-size:14px;}
.selectdbox:before {content: '';display: inline-block;font-size: 0;width: 0;position: absolute;right: 8px;top: 20px;bottom:0;border-width: 6px;border-style: solid dashed dashed dashed;border-color: #bebebe transparent transparent transparent;}
img{max-width:100%;vertical-align: middle;}

/* 通用原子类 */
.hidden{ display: none; }
.wid{width: 100%;}
.fl{float:left;}
.textCenter{text-align: center;}
.fRelative{position:relative;}
.fAbsolute{position:absolute;left:0;right:0;margin:0 auto;}
.plr{padding:0 15px;}
.bgPurple{background-color:#1d2554 !important;}

/* 主体样式 */
